$background-color-light: #ffebcd;
$title-color-light: #8b4513;

.card {
  background-color: $background-color-light;
  color: #4d2600;

  ul {
    text-align: left;
  }

  h1 {
    font-size: 2rem;
    margin: 2rem;
    color: $title-color-light;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: $title-color-light;
  }
}
